html, body {
	background-color: #c9e4f5;
	background: url(../img/bg_pattern.jpg) repeat-y center top;
	font-family: Verdana, sans-serif; }
	
body { }
	
body > .container {
	margin-top: 60px;
	width: 980px; }
/*
body > .container.home {
	padding-top: 30px; }*/
	
.container.home [class*="span"] {
	margin-bottom: 0px; }
	
.row [class*="span"]:last-child {
	margin-right: 0px; }
	
.gradient.primary {
	background: #70a3d1; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcwYTNkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NmMwZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #70a3d1 0%, #86c0e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70a3d1), color-stop(100%,#86c0e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #70a3d1 0%,#86c0e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #70a3d1 0%,#86c0e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #70a3d1 0%,#86c0e6 100%); /* IE10+ */
	background: linear-gradient(top, #70a3d1 0%,#86c0e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70a3d1', endColorstr='#86c0e6',GradientType=0 ); /* IE6-8 */ }
	
.gradient.secondary {
	background: #7a7c7c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhN2M3YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYWFhYWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #7a7c7c 0%, #aaaaaa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a7c7c), color-stop(100%,#aaaaaa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7a7c7c 0%,#aaaaaa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7a7c7c 0%,#aaaaaa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7a7c7c 0%,#aaaaaa 100%); /* IE10+ */
	background: linear-gradient(top, #7a7c7c 0%,#aaaaaa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7c7c', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-8 */ }
	


/* HEADER */

.topbar .fill {
	background: none;
	filter:none;
	}
.topbar .container {
	width: 980px;
	position: relative;
	top: 60px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; }
.topbar .brand {
	display: block;
	position: absolute;
	left: 20px;
	top: -60px;
	background: url(../img/logo.png) no-repeat left top;
	width: 437px;
	height: 103px; }
.topbar .nav {
	margin-left: 115px; }
	
.topbar .nav li {
	margin: 0px; }
	
.topbar .nav a {
	color: #fff;
	font-size: 18px;
	font-family: "CartoGothicStdBook", Arial, sans-serif;
	padding: 20px; }
	
.topbar .nav .active a, .topbar .nav a:hover {
	background: url(../img/bg_nav_active.png) repeat-x left bottom; }
	
	
	
/* HOMEPAGE */

.feat_photos {
	background: url(../img/feat_photos.jpg) no-repeat left top;
	width: 938px;
	height: 400px;
	border: #fff 1px solid;
	margin: 56px 20px 20px 20px;
	position: relative; }
	
.feat_photos h1 {
	display: inline;
	background: url(../img/bg_feat_overlay.png) repeat left top;
	padding: 20px;
	position: absolute;
	right: 0px;
	top: 220px; 
	font-size: 32px;
	text-align: right; }

.feat_photos div {
  -webkit-transition: border-color linear 0.2s;
  -moz-transition: border-color linear 0.2s;
  -ms-transition: border-color linear 0.2s;
  -o-transition: border-color linear 0.2s;
  transition: border-color linear 0.2s;
	position:absolute;
	border-color:rgba(255,255,255,0);
	border-width:4px;
	border-style:solid;
	top:0px; margin:-4px 0 0 -4px; }
.feat_photos div:hover {
  -webkit-transition: border-color linear 0.2s;
  -moz-transition: border-color linear 0.2s;
  -ms-transition: border-color linear 0.2s;
  -o-transition: border-color linear 0.2s;
  transition: border-color linear 0.2s;
  border-color:rgba(255,255,255,100);
  border-style:solid; }

#p1 { width:199px; height:199px; left:0px; }
#p2 { width:265px; height:199px; left:200px; }
#p3 { width:112px; height:199px; left:466px; }
#p4 { width:265px; height:199px; left:579px; }
#p5 { width:93px; height:199px; left:845px; }
#p6 { width:238px; height:200px; left:0px; top:200px; }
#p7 { width:174px; height:200px; left:239px; top:200px; }
#p8 { width:200px; height:200px; left:414px; top:200px; }
#p9 { width:200px; height:200px; left:615px; top:200px; }
#p10{ width:122px; height:200px; left:816px; top:200px; }

.row {
	margin: 20px 0px 0px 0px; }

.row:first-child {
	margin-top:0;
}
	
.overview {
	border: #fff 1px solid;
	margin-bottom: 10px; }
	
.overview div {
	display: table-cell;
	margin-right: 20px;
	width: 140px;
	height: 100px;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	vertical-align: middle;
	border-right: #fff 20px solid; }
	
.overview div:last-child {
	border-right: 0px; }
	
.lbl {
	display: block;
	float: left;
	height: 10px;
	padding: 0px;
	margin-bottom: 40px; 
	border: #ccc 1px solid;
	border-top: 0px; 
	text-align: center;}
	
.lbl p {
	display: inline;
	background-color: #fff;
	padding: 8px 10px;
	color: #999;
	font-size: 18px; }
	
.lbl.first {
	width: 618px;
	margin-right: 20px; }
	
.lbl.last {
	width: 298px; }
	
.overview .primary {
	text-shadow: 1px 1px 0px #70a3d1; }
	
.overview .secondary {
	text-shadow: 1px 1px 0px #7a7c7c; }
	
.cal {
	width: 60px;
	height: 65px;
	margin-right: 20px; 
	float: left;
	color: #fff;
	text-shadow: 1px 1px 0px #70a3d1;
	text-align: center; }
	
.cal_month {
	font-size: 18px;
	text-transform: uppercase;
	margin: 5px 0px 10px 0px; }
	
.cal_date {
	font-size: 36px; }
	
	
/* ARTICLE */

article {
	color: #333;
	width: 940px;
	margin: 20px 20px 40px 20px;
	overflow: hidden; }

h1, h2, h3, h4, h5 {
	font-weight: normal;
	font-family: "CartoGothicStdBook", Arial, sans-serif;
	margin: 0px; }

article h1, h2.primary, h2.secondary {
	background: url(../img/bg_headline_blue.jpg) no-repeat left 11px;
	font-size: 30px;
	font-family: "CartoGothicStdBook", Arial, sans-serif;
	border-bottom: #b1d8f1 3px solid; 
	padding: 10px 0px 10px 14px;
	margin-bottom: 30px; }
	
h2.secondary {
	background: url(../img/bg_headline_gray.jpg) no-repeat left 11px;
	border-bottom: #bcbdbd 3px solid;  }
	
h2 a {
	font-size: 12px;
	font-family: Verdana, sans-serif;
	color: #333;
	text-decoration: underline;
	float: right; }
	
	
article h2 {
	font-size: 20px;
	margin-bottom: 10px; }
	
article h3 {
	font-size: 24px;
	line-height: 24px;
	color: #333; 
	margin-bottom: 10px; }
	
article h4 {
	font-size: 18px;
	line-height: 18px;
	color: #999;
	margin-bottom: 10px; }
	
article p {
	color: #666;
	margin-bottom: 20px; }
	
ul, ol {
	margin: 0px 0px 20px 10px;
	padding: 0px 0px 0px 20px; }

dt { margin-top:18px; }
dt:first-child { margin-top:0; }

li {
	color: #333;
	margin-bottom: 5px; }
	
img {
	margin-bottom: 30px; }
	
.clr {
	clear: both; }
	
/* SIDEBAR LAYOUT */

img.top { padding-top:10px;}
	
/* FOOTER */

footer {
	clear: both;
	height: 20px;
	background-color: #9a9c9c;
	background-image: linear-gradient(bottom, rgb(122,124,124) 1%, rgb(154,156,156) 51%);
	background-image: -o-linear-gradient(bottom, rgb(122,124,124) 1%, rgb(154,156,156) 51%);
	background-image: -moz-linear-gradient(bottom, rgb(122,124,124) 1%, rgb(154,156,156) 51%);
	background-image: -webkit-linear-gradient(bottom, rgb(122,124,124) 1%, rgb(154,156,156) 51%);
	background-image: -ms-linear-gradient(bottom, rgb(122,124,124) 1%, rgb(154,156,156) 51%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.01, rgb(122,124,124)),
		color-stop(0.51, rgb(154,156,156))
	);
	margin: 0px;
	padding: 30px 20px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px; }
	
footer p {
	color: #fff;
	text-shadow: -1px -1px 1px #7a7c7c; }

footer a:link, footer a:visited { color:white; text-decoration:underline; }
footer a:hover { color:#0069d6; }
footer p.left{
	float: left;
	margin-top:-5px;
	width: 50%; }
	
footer p.right {
	float: right;
	margin-top:2px;
	width: 50%;
	text-align: right;
	font-size: 18px;
	font-family: "CartoGothicStdBook", Arial, sans-serif; }
